*.out
.*tmp/*
tmp/
*.pyc
*.aux
*.blg
*.fls
*.log
.idea/*
doc/build/*
*__pycache__/*
env/*
CMakeFiles
CMakeFiles/*
*/CMakeFiles/*
cppbinding/CMakeFiles/*
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bib~*
*.fdb_latexmk
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
doc/sphinx/build/
doc/doxygen/html/
doc/doxygen/latex
doc/doxygen/xmk
doc/doxygen/xml
build
dist
polousers.egg-info
client/marcopolo_users.egg-info/
