[Unit]
Description=Polousers
Requires=network.target network-online.target
After=network.target network-online.target 
After=sys-subsystem-net-devices-net0.device
After=polod.service
Wants=minute-timer.timer

[Service]
ExecStart=/usr/bin/polousersd &>/dev/null

Type=simple
User=root
Group=root
PIDFile=/var/run/polousersd.pid

[Install]
WantedBy=multi-user.target
WantedBy=minute-timer.target